/*selector universal*/

*{
	border: 1px solid red;
	margin: 10px ;
}
/*selector de etiquetas*/

header{
	background: blue;
}
section{
	background: purple;
}
/*selector descendente*/

article h3{
	color: green;
}
/*selectores de clase*/

.title-a{
	background: yellow;
}
.title-b{
	background: salmon;
}
/*selector de ID*/

#header{
	border: 5px solid black;
}
#portada{
	border: 5px solid orange;
}
#guitarras{
	border: 5px solid brown;
}